html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --color-primary: #ff4141;
  --color-secondary: rgb(37, 148, 192);
  --color-tertiary: rgb(77, 155, 32);
}

body {
  font-family: "PTSans", sans-serif;
  min-block-size: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

header section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  inline-size: 100%;
  flex-grow: 1;
}

textarea {
  border: 1px;
  border-style: solid;
  border-color: rgb(113, 112, 112);
  max-inline-size: 800px;
  inline-size: 90vw;
  min-block-size: 400px;
  border-radius: 20px;
  padding: 12px;
  overflow-y: auto;
  resize: none;
  font-size: 1.3rem;
  position: relative;
  text-align: center;
}

video {
  max-inline-size: 800px;
  inline-size: 90vw;
  min-block-size: 400px;
  border-radius: 20px;
  overflow-y: auto;
  resize: none;
  font-size: 1.3rem;
  position: relative;
  text-align: center;
}

#textarea-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

#textarea-container div {
  padding-inline: 24px;
}

#textarea-container img {
  cursor: pointer;
}

#mic-button {
  inline-size: 70px;
  block-size: 70px;
  background-color: var(--color-primary);
  border: 0px;
  border-radius: 50%;
  inline-size: 70px;
  block-size: 70px;
  cursor: pointer;
  object-fit: contain;
  padding: 0px;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#mic-button:focus,
#mic-button:hover {
  border: 0px;
  outline: none;
}

#menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

#converter-menu {
  appearance: none;
  text-align: center;
  outline: none;
  border: 0px;
  border-radius: 50%;
  inline-size: 55px;
  block-size: 55px;
  color: white;
  background-color: var(--color-tertiary);
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#language-menu {
  appearance: none;
  text-align: center;
  outline: none;
  border: 0px;
  border-radius: 50%;
  inline-size: 55px;
  block-size: 55px;
  color: white;
  background-color: var(--color-secondary);
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  inline-size: 100%;
}
